



body {
	background-color: royalblue;
	padding: 0px;
	margin: 0px;
}

.hoverinfo {
    position: relative;
    top: 0px;
    left: 15px;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;

}
.hoverinfo p {
    display: none;
    color: #000000;

}
.hoverinfo:hover p {
    background-color: rgba(255, 255, 255, 0.7);
    display: block;

}

.hoverbox {
    position: relative;
    top: 0px;
    left: 15px;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;

}
.hoverbox p {
    display: none;
    color: #000000;
  

}
.hoverbox:hover p {
    background-color: rgba(255, 255, 255, 0.7);
    display: block;
}

.outline:hover {
	border: solid;
}
#map {
	width: 80%;
	height: 400px;
	background-color: pink;
	margin-bottom: 15px;
	margin-top: 10px;
	margin-left: 13%;
	
	
}

nav a {
	text-decoration: none;
	color: pink;


	
}

nav li {

	margin-right: 15px;
	float: right;


}


ul{
	list-style: none;
	display: inline-block;
	padding-left: 0px;
	margin-top: 40px;
	width: 100%;
	margin-top: 10px;
	float: right;
}
h1 {
	color: white;
	margin: 0px;
	margin-left: 10px;
	height: 30px;
	line-height: 40px;
	font-family: tahoma;

}
#AboutUs a{
	padding: 25px;
	max-width: auto;

}
#AboutUs {
	padding-left: 150px;
	color: white;


}
#AboutUs img{
	width: 95%;

}

#country_nav a {
	
	text-decoration: none;
	color: black;
	display: block;
	padding: 10px;
	padding-top: 0px;

}
#country_nav ul {
	
	list-style: none;
	display: inline-block;
	padding: 10px;
	float:right;
	margin-top: 270px;
	padding-top: 0px;
	background:rgba(255,255,255, 0.3);

}

#country_nav {
	margin-bottom: 0px;
	position: fixed;
	padding-bottom: 0px;
	padding-left: 5px;
	text-align: left;
	padding-top: 0px;
	height: 300px;

}

#NA_nav{
	margin-bottom: 0px;
	position: fixed;
	padding-bottom: 0px;
	padding-left: 10px;
	text-align: left;
	padding-top: 0px;
	width: 140px;
	font-size: 15px;

}

#NA_nav a {
	
	text-decoration: none;
	color: black;
	display: block;
	padding: 5px;
	padding-top: 0px;
	padding-left: 15px;


}
#NA_nav ul {
	
	list-style: none;
	display: inline-block;
	padding: 10px;
	margin-top: 0px;
	padding-top: 0px;
	background:rgba(255,255,255, 0.6);

}
#country_navNA a {
	
	text-decoration: none;
	color: black;
	display: block;
	padding: 10px;
	padding-top: 0px;

}
#country_navNA ul {
	
	list-style: none;
	display: inline-block;
	padding: 10px;
	float:right;
	margin-top: 310px;
	padding-top: 0px;
	background:rgba(255,255,255, 0.3);

}

#country_navNA {
	margin-bottom: 0px;
	position: fixed;
	padding-bottom: 0px;
	padding-left: 5px;
	text-align: left;
	padding-top: 0px;
	height: 300px;

}

.restaurants {
	float: left;
	max-width: 50%;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.intro_p {
	color: white;
	float:left;
	text-align: center;
	border: solid;
	margin: 15px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: arial;

}
.africa h1 {
	text-align: center;
	border: solid;
	color:white;
	line-height: 30px;
	padding: 20px;
}
.south_america h1 {
	text-align: center;
	border: solid;
	color:white;
	line-height: 30px;
	padding: 20px;
}
#australia h1{
	text-align: center;
	border: solid;
	color:white;
	line-height: 30px;
	padding: 20px;
}

.asia h1 {
	text-align: center;
	border: solid;
	color:white;
	line-height: 30px;
	padding: 20px;
}


#footer {
	background-color: black;
	margin-top: 10px;
	clear: left;

}
#footer li{

	clear: left;
	height: 30px;


}

#footer nav{

	padding-bottom: 0px;
	margin-bottom: 0px;
	clear: left;
}
#footer p {
	
	margin-top: 0px;
	margin-bottom: 0px;

	width: 100%;
	clear: left;
}
#footer a {
	margin: 0px;
	clear: left;
	height: 30px;
	background-color: black;

}

header {
	clear: left;
	background-color: black;
	height: 70px;
	margin-top: 0px;
	color: white;
}

#houston h2 {
	clear: left;
}
#San_Francisco ul{
	list-style-type: circle;
	margin-top: 0px;
}

}
h2 {
	padding-left: 40%;
	color:white;
	text-align: center;
	margin-top: 0px;
	display: block;
	margin-left: 150px;
}

#AboutUs h2 {

	text-align: center;
}
#AboutUs p {
	padding-left: 30px;
	max-width: 90%;
	color: black;

	
}
h3 {
	float: left;
	margin: 0px;
	color: black;
}

.sfhikes h3{
float: left;

width: 100%;
text-align: left;
}
.sftodo h3{
	clear: left;
	padding: 5px;
	text-align: left;
	width: 100%;
}
p {
	color: silver;
	margin-bottom: 15px;
}

#San_Francisco img{
	max-width: 40%;
	float: left;
	padding-top: 0px;
	margin: 5px;
}
#San_Francisco h3 {
	width: 100%;
	/*text-align: center;*/
	padding-bottom: 5px; 
}
#San_Francisco {
	background-color: lightskyblue;
	/*height: 1570px;*/
	clear: left;
	padding: 10px;
}
#San_Francisco h2 {
	text-align: center;
	width: 100%;
	color: white;
}

#San_Francisco li {
	padding-left: 10px;
	margin-left: 30px;
	padding-top: 5px;
/*	text-align: right;*/
}
#San_Francisco p {
	margin-bottom: 5px;
	color: black;
}

.col {
	width: 150px;
	float: left;
	padding-left: 40px;

}

/*b {
	background-color: steelblue;
}*/

#houston {
	clear: left;
	background-color: steelblue;
	padding: 10px;
/*	height: 600px;*/
}

#houston img{
max-width: 65%;
clear: left;
/*background-color: steelblue;*/
}

#houston p{
		color: black;
		padding-left: 15px;
		margin-top: 5px;
		margin-bottom: 0px;
}

.houstontodo {
	margin: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-left: 20px;
}

#stlouis{
	clear: left;
	background-color: lightsteelblue;
	
	padding: 10px;
}

.stlfood {
	max-width: 40%;
	float:left;
	padding-left: 60px;

}
.stlact {
	max-width: 40%;
	float: left;
	padding-left: 100px;
}
/*#stlouis h3{
	padding-left: 50%;
}*/

}
.sfhikes {
	padding: 10px;
	padding-top: 0px;
	text-align: left;
	float: left;
}

.sfhikes li{
	text-align: left;
}
#snowmass {
	background-color: steelblue;
	clear: left;
	height: 700px;

	
}
#snowmass h2 {
	clear: left;
}

#snowmass p {
	padding-left: 15px;
	padding-right: 15px;
}

#snowmass img{
	float: left;
	max-width: 60%;
	float: left;
/*	margin-top: 45px;*/
}

#snowmass h3 {
	float: left;
	width: 99%;
}

.snowmassrestaurants {
	width: 40%;
	float: left;
	background-color: steelblue;
	text-align: center;
	
}
#snowmass h2{
	margin: 0px;
}
.snowmasshikes {
	
	float: left;
	background-color: steelblue;
	text-align: center;
}

.north_america {
	padding-left: 130px;
	margin: 30px;
	margin-top: 5px;
	padding-bottom: 0px;
}

.south_america {
	padding-left: 130px;
	margin: 30px;
	margin-top: 5px;
	padding-bottom: 0px;
}

#SA_nav{
	margin-bottom: 0px;
	position: fixed;
	padding-bottom: 0px;
	padding-left: 5px;
	text-align: left;
	padding-top: 0px;
	width: 140px;
	font-size: 15px;
}


#SA_nav a {
	
	text-decoration: none;
	color: black;
	display: block;
/*	padding: 10px;*/
	padding-top: 0px;


}
#SA_nav ul {
	
	list-style: none;
	display: inline-block;
	padding-left: 10px;
	padding-top: 0px;
	background:rgba(255,255,255, 0.6);

}
#Asia_nav{
	margin-bottom: 0px;
	position: fixed;
	padding-bottom: 0px;
	padding-left: 5px;
	text-align: left;
	padding-top: 0px;
	width: 140px;
	font-size: 15px;
}


#Asia_nav a {
	
	text-decoration: none;
	color: black;
	display: block;
/*	padding: 10px;*/
	padding-top: 0px;


}
#Asia_nav ul {
	
	list-style: none;
	display: inline-block;
	padding-left: 10px;
	padding-top: 0px;
	background:rgba(255,255,255, 0.6);

}

#australia_nav{
	margin-bottom: 0px;
	position: fixed;
	padding-bottom: 0px;
	padding-left: 5px;
	text-align: left;
	padding-top: 0px;
	width: 140px;
	font-size: 15px;
}


#australia_nav a {
	
	text-decoration: none;
	color: black;
	display: block;
/*	padding: 10px;*/
	padding-top: 0px;


}
#australia_nav ul {
	
	list-style: none;
	display: inline-block;
	padding-left: 10px;
	padding-top: 0px;
	background:rgba(255,255,255, 0.6);

}
.asia {
	padding-left: 130px;
	margin: 30px;
	margin-top: 5px;
	padding-bottom: 0px;
}

#kathmandu {
	clear: left;
	background-color: steelblue;
	padding: 10px;
/*	height: 600px;*/
}

#kathmandu img{
max-width: 45%;
float: left;
padding-left: 10px;
/*background-color: steelblue;*/
padding-right: 15px;
padding-top: 15px;
}

#kathmandu p{
		color: black;
		padding-left: 0px;
		margin-top: 5px;
		margin-bottom: 0px;
}

.kataitin {
	margin: 10px;
	padding-left: 15px;
	padding-right: 5px;
}
.katfood {
/*	margin: 0px;
	padding-left: 0px;*/
	padding-right: 5px;
}
.katact {
	margin: 10px;
	padding-left: 5px;
	padding-right: 5px;
}
#Austalia{
	margin-bottom: 0px;
	position: fixed;
	padding-bottom: 0px;
	padding-left: 5px;
	text-align: left;
	padding-top: 0px;
	width: 140px;
	font-size: 15px;
}


#Australia a {
	
	text-decoration: none;
	color: silver;
	display: block;
/*	padding: 10px;*/
	padding-top: 0px;


}
#Australia ul {
	
	list-style: none;
	display: inline-block;
	padding-left: 10px;
	padding-top: 0px;
	background:rgba(255,255,255, 0.6);

}
.oceania {
	padding-left: 130px;
	margin: 30px;
	margin-top: 5px;
	padding-bottom: 0px;
}

#melbourne {
	clear: left;
	background-color: steelblue;
	height: 600px;
}

#melbourne img{
max-width: 45%;
float: left;
padding-left: 10px;

padding-right: 15px;
padding-top: 15px;
}

#melbourne p{
		color: black;
		padding-left: 15px;
		margin-top: 5px;
		margin-bottom: 0px;
}

.melactivities {
	margin: 10px;
	padding-left: 15px;
	padding-right: 5px;
}
.melbfood {
	margin: 10px;
	padding-left: 5px;
	padding-right: 5px;
}


#elcalafate img{
	max-width: 35%;
	float: right;
	padding-top: 0px;
	margin: 5px;
	padding-bottom: 5px;
	padding-right: 7%;
}
#elcalafate h3 {
	width: 50%;
	/*text-align: center;*/
	padding-bottom: 5px; 
	padding-top: 30px;
}

#elcalafate p {
	width: 100%;
	padding-top: 0px;
	
}

#Patagonia ul {
	float: left;
}
#Patagonia {
	background-color: lightskyblue;
/*	height: 1800px;*/
	clear: left;

}
#Patagonia h2 {
	text-align: center;
	width: 100%;
	color: white;
}

#Patagonia li {
	background-color: lightskyblue;
	padding-left: 10px;
	margin-left: 30px;
	padding-top: 5px;
/*	text-align: right;*/
}
#Patagonia p {
	margin-bottom: 10px;
	color: black;
	float: left;
	padding-left: 15px;
	padding-right: 15px;

}

#elcalafate {
	float: left;
	width: 95%;
	padding: 10px;
	border-style: solid;

}


#elcalafate h3 {
	padding-left: 15px;
}
#elcalafate p {
	width: 40%;
	padding-left: 15px;
	float: left;
}
#elcalafate ul {
	width: 50%;
	float: left;
	list-style-type: circle;
	line-height: 30px;

}

#elchalten {
	float: left;
	width: 95%;
	padding-left: 20px;
	padding-top: 10px;

}

#elchalten p {
	width: 100%;
}
#elchalten ul {
		list-style-type: circle;
		width: 50%;
		float: right;
		padding-right: 0px;
}

#elchalten img{
	max-width: 30%;
	float: left;
	padding-top: 0px;
	padding-left: 10%;
	margin: 10px;
	padding-bottom: 30px;
}
#wtrek img{
	max-width: 47%;
	float: left;
	padding-top: 10px;
/*	margin: 10px;*/
	/*padding-bottom: 30px;*/
}

#wtrek {
	float: left;
	width: 95%;
	padding-left: 20px;
	border-style: solid;
}
.longlines {
	width: 100%;
	list-style-type: circle;
	clear: left;
}

#wtrek p {
	width: 100%;
}
.shortlines {
		list-style-type: circle;
		width: 50%;
		float: left;
		
}

#ecuador{
	clear: left;
	background-color: steelblue;
	width: 100%;
}

#ecuador h1 {
	color: white;
	text-align: center;

}

#quito {
	float: left;
	width: 95%;
	/*padding-left: 20px;*/
	border-style: solid;
	background-color: steelblue;
		
}

#quito h3 {
	padding-left: 15px;
	text-align: center;

}
#quito p {
	width: 100%;
	padding-left: 15px;
	color: black;
	float: left;
	margin: 5px;
	padding-top: 10px; 
}
.quitoact {
	float: left;
	max-width: 50%
	
}

#quito img{
	max-width: 40%;
	float: left;
	padding-top: 20px;
	margin: 0px;
	padding-left: 10px;
	padding-right: 0px;
}
#quito h3 {
	width: 50%;
	/*text-align: center;*/
	padding-bottom: 5px; 
}

#galapagos {
	float: left;
	width: 90%;
	padding-left: 20px;
	background-color: steelblue;
		
}



#galapagos p {
	padding-left: 10px; 
	color: black;
}

.galapagosinfo {
	float: left;
	margin-bottom: 10px;
/*	overflow: auto;*/
	max-width: 58%;
	padding-left: 15px;
}

#galapagos img{
	max-width: 40%;
	float: left;
/*	padding-top: 90px;*/
	/*padding-right: 20px;*/
		overflow: auto;
}
#galapagos h3 {
	width: 50%;
	/*text-align: center;*/
	padding-bottom: 5px; 
	padding-top: 20px;
}

#quilotoa {
	float: left;
	width: 95%;
	padding-left: 20px;
	border-style: solid;	
	background-color: steelblue;
}

#quilotoa p {
	width: 90%;
	padding-left: 40px; 
	color: black;
	clear: left;
}

#quilotoa img {
	width: 40%;
	padding-left: 10px;
	clear: left;

}

#cotopaxiinfo p{
	width: 40%;
	float: left;
	margin-top: 5px;
	line-height: 30px;
}

.quilo2 {
	float: left;
	max-width: 100%;
}
#quilotoa h3 {
	width: 50%;
	padding-bottom: 5px; 
	padding-top: 20px;
}
#africa_nav{
	margin-bottom: 0px;
	position: fixed;
	padding-bottom: 0px;
	padding-left: 5px;
	text-align: left;
	padding-top: 0px;
	width: 140px;
	font-size: 15px;
}
#cq{
	clear: left;
	background-color: steelblue;
	border-style: solid;
	height: 700px;
}

.cqstuff {
	max-width: 40%;
	float:left;
	padding-left: 80px;

}
#cq img{
	width: 45%;
	padding-left: 40px;
}

#africa_nav a {
	
	text-decoration: none;
	color: black;
	display: block;
/*	padding: 10px;*/
	padding-top: 0px;


}
#africa_nav ul {
	
	list-style: none;
	display: inline-block;
	padding-left: 10px;
	padding-top: 0px;
	background:rgba(255,255,255, 0.6);

}
.africa {
	padding-left: 130px;
	margin: 30px;
	margin-top: 5px;
	padding-bottom: 0px;
}

#capetown {
	clear: left;
	background-color: steelblue;
	height: 700px;
}

#capetown img{
max-width: 30%;
float: left;
padding-left: 10px;
/*background-color: steelblue;*/
padding-right: 15px;
padding-top: 15px;
}

#capetown p{
		color: black;
		padding-left: 15px;
		margin-top: 5px;
		margin-bottom: 0px;
}

.capetownitin {
	margin: 10px;
	padding-left: 15px;
	padding-right: 5px;
}
.ctfood {
	margin: 10px;
	padding-left: 5px;
	padding-right: 5px;
	clear: left;
	padding-top: 15px;
}
.ctact {
	margin: 0px;
	padding-left: 5px;
	padding-right: 5px;
	float: left;
	max-width: 40%;
}
.ctextra {
	margin: 10px;
	padding-left: 5px;
	padding-right: 5px;
	float: right;
	max-width: 40%;

}
@media all and (max-width: 900px) {



.restaurants {
	clear: left;
}

#San_Francisco img{
	max-width: 80%;

}

.col {
	width: 95%;
	clear: left;
}
#snowmass {
	height: 1500px;
	clear: left;
	text-align: left;
}
.snowmassrestaurants{
	text-align: left;
}
.snowmasshikes{
	text-align: left;
}
#elcalafate img{
	clear: left;
}
#elcalafate ul{
	clear: left;
}
#capetown{
	height:1000px;
}


}